[Unit]
Description=Novena First Boot
DefaultDependencies=no
After=dbus.service network-pre.target systemd-sysusers.service
Before=systemd-network.target network.target multi-user.target shutdown.target graphical.target systemd-user-sessions.service
ConditionPathExists=/var/lib/firstrun

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/sbin/novena-firstrun
User=root
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
